<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mytijian.admin.dao.rbac.dao.DepartmentMapper">

	<resultMap id="departmentMapResult"
		type="com.mytijian.admin.dao.rbac.dataobject.DepartmentDO">
		<id column="id" property="id" />
		<result column="gmt_created" property="gmtCreated" />
		<result column="gmt_modified" property="gmtModified" />
		<result column="department_name" property="departmentName" />
		<result column="area_id" property="areaId" />
		<result column="province_id" property="provinceId" />
		<result column="parent_id" property="parentId" />
	</resultMap>

	<sql id="baseColumns">
		id,
		gmt_created,
		gmt_modified,
		department_name,
		area_id,
		province_id,
		parent_id
	</sql>

	<select id="selectDepartments" resultMap="departmentMapResult">
		select
		<include refid="baseColumns" />
		from tb_department
		where status = 1
		<if test="departmentName != null and departmentName.trim() != ''">
			and `department_name` like concat('%',#{departmentName},'%')
		</if>
		order by id asc
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="countTotal" resultType="int">
		select count(*) from tb_department
		where status = 1
		<if test="departmentName != null and departmentName.trim() != ''">
			and `department_name` like concat('%',#{departmentName},'%')
		</if>
	</select>


	<select id="selectById" resultMap="departmentMapResult">
		select
		<include refid="baseColumns" />
		from tb_department where id = #{id} and status = 1
	</select>

	<delete id="deleteBatch">
		update tb_department set status = 2, gmt_modified = now() where id in
		<foreach collection="list" index="index" item="departmentId"
			open="(" separator="," close=")">
			#{departmentId}
		</foreach>
	</delete>


	<update id="update" parameterType="com.mytijian.admin.dao.rbac.dataobject.DepartmentDO">
		update tb_department set gmt_modified = now()
			<if test="departmentName != null">,department_name = #{departmentName}</if>
			<if test="areaId != null">,area_id = #{areaId}</if>
			<if test="provinceId != null">,province_id = #{provinceId}</if>
			<if test="parentId != null">,parent_id = #{parentId}</if>
		where id = #{id}
	</update>

	<insert id="insert" parameterType="com.mytijian.admin.dao.rbac.dataobject.DepartmentDO"
		useGeneratedKeys="true" keyProperty="id">
		insert into tb_department
		(
		gmt_created,
		gmt_modified,
		department_name,
		area_id,
		province_id,
		parent_id
		)
		values
		(
		now(),
		now(),
		#{departmentName},
		#{areaId},
		#{provinceId},
		#{parentId}
		)
	</insert>

	<select id="selectByParentId" resultMap="departmentMapResult">
		select
		<include refid="baseColumns" />
		from tb_department where parent_id = #{parentId} and status = 1
	</select>

	<select id="selectParentIds" resultType="String">
		select
		getDepartmentParentIdList(#{id})
	</select>
</mapper>