<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mytijian.admin.dao.rbac.dao.EmployeeMapper">

	<resultMap id="employeeMapResult"
		type="com.mytijian.admin.dao.rbac.dataobject.EmployeeDO">
		<id column="id" property="id" />
		<result column="gmt_created" property="gmtCreated" />
		<result column="gmt_modified" property="gmtModified" />
		<result column="login_name" property="loginName" />
		<result column="employee_no" property="employeeNo" />
		<result column="employee_name" property="employeeName" />
		<result column="nick_name" property="nickname" />
		<result column="password" property="password" />
		<result column="status" property="status" />
		<result column="mobile" property="mobile" />
		<result column="salt" property="salt" />
		<result column="pinyin" property="pinYin" />
	</resultMap>

	<sql id="baseColumns">
		id,
		gmt_created,
		gmt_modified,
		login_name,
		employee_no,
		employee_name,
		nick_name,
		password,
		status,
		mobile,
		salt,
		pinyin
	</sql>
	<select id="selectEmployeeInfo" parameterType="java.util.HashMap"
		resultMap="employeeMapResult">
		SELECT
		<include refid="baseColumns" />
		FROM
		tb_employee
		<where>
			<if test="empId!=null">
				and id=#{empId}
			</if>
			<if test="empNo!=null">
				and employee_no=#{empNo}
			</if>
			<if test="loginName!=null">
				and login_name=#{loginName}
			</if>
		</where>
	</select>

	<!-- 查询用户的所有菜单ID -->
	<!-- <select id="getEmployeeAllMenuIds" resultType="Integer">
		select m.id from
		tb_employee_role_department er
		LEFT JOIN tb_role_department_menu rm on
		er.role_department_id = rm.role_department_id
		LEFT JOIN tb_menu m on
		rm.menu_id = m.id
		where er.employee_id = #{employeeId}
	</select> -->

	<!-- 获取所有用户总数 -->
	<select id="queryTotalEmployees" parameterType="java.util.HashMap"
		resultType="Integer">
		SELECT
		count(1)
		FROM
		tb_employee
		where status  <![CDATA[<>]]>
		3
		<if test="employeeName!=null and employeeName!=''">
			and employee_name like concat('%',#{employeeName},'%')
			or pinyin like concat('%',#{employeeName},'%')
		</if>
	</select>

	<!-- 获取用户列表 -->
	<select id="queryEmployees" parameterType="java.util.HashMap"
		resultMap="employeeMapResult">
		SELECT
		<include refid="baseColumns" />
		FROM tb_employee
		where status  <![CDATA[<>]]>
		3
		<if test="employeeName!=null and employeeName!=''">
			and employee_name like concat('%',#{employeeName},'%')
			or pinyin like concat('%',#{employeeName},'%')
		</if>

		order by id desc
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
	<!-- 获取用户列表 -->
	<select id="selectEmployeesByIds" parameterType="java.util.List" resultMap="employeeMapResult">
		SELECT
			<include refid="baseColumns" />
		FROM 
			tb_employee
		WHERE
			id in
		<foreach collection="list" index="index" item="employeeId"
			open="(" separator="," close=")">
			#{employeeId}
		</foreach>

	</select>
	
	<!-- 根据部门获取用户列表 -->
    <select id="selectEmployeeInfoByDep" resultMap="employeeMapResult">
    	select 
    		e.id,
			e.gmt_created,
			e.gmt_modified,
			e.login_name,
			e.employee_no,
			e.employee_name,
			e.nick_name,
			e.password,
			e.status,
			e.mobile,
			e.pinyin,
			e.salt
    	FROM
    		tb_employee e
    	left join 
    		tb_department_employee d
    	on e.id=d.employee_id
    	WHERE
    		d.department_id=#{depId}
    </select>
    
    <select id="getAllEmployeeInfo" resultMap="employeeMapResult">
		SELECT <include refid="baseColumns" /> from tb_employee
	</select>
	
	<select id="getOperationById" resultMap="employeeMapResult">
		SELECT <include refid="baseColumns" /> from tb_employee where id = #{employeeId}
	</select>
	
	<insert id="insert"
		parameterType="com.mytijian.admin.dao.rbac.dataobject.EmployeeDO"
		useGeneratedKeys="true" keyProperty="id">
		insert into tb_employee(
		gmt_created,
		gmt_modified,
		login_name,
		employee_no,
		employee_name,
		nick_name,
		password,
		status,
		mobile,
		salt,
		pinyin)
		values (
		now(),
		now(),
		#{loginName},
		#{employeeNo},
		#{employeeName},
		#{nickname},
		#{password},
		#{status},
		#{mobile},
		#{salt},
		#{pinYin}
		)
	</insert>
	<update id="updatePinYin">
		update tb_employee 
		set pinyin=#{pinyin}
		where id=#{id}
	</update>

	<update id="update"
		parameterType="com.mytijian.admin.dao.rbac.dataobject.EmployeeDO">
		update tb_employee
		<trim prefix="set" suffixOverrides=",">
			<if test="employeeName!=null">employee_name=#{employeeName},</if>
			<if test="nickname!=null">nick_name=#{nickname},</if>
			<if test="password!=null">password=#{password},</if>
			<if test="status!=null">status=#{status},</if>
			<if test="mobile!=null">mobile=#{mobile},</if>
			<if test="pinYin!=null">pinyin=#{pinYin}</if>
		</trim>
		WHERE id=#{id}
	</update>

	<update id="deleteBatch">
		update tb_employee set status = 3 where id in
		<foreach collection="list" index="index" item="employeeId"
			open="(" separator="," close=")">
			#{employeeId}
		</foreach>
	</update>

	<select id="queryAllPerms" resultType="String">
		SELECT m.perms FROM tb_department_employee de
			JOIN tb_department td ON td.id = de.department_id
			LEFT JOIN tb_role_department trd ON trd.department_id = de.department_id
			LEFT JOIN tb_employee_role ter ON ter.employee_id = de.employee_id
			LEFT JOIN tb_role_department_menu trdm ON trdm.role_department_id = trd.id 
			LEFT JOIN tb_menu m ON trdm.menu_id = m.id
		WHERE de.employee_id  = #{employeeId} and td.status = 1 and trd.status = 1
	</select>
	
	
	
	<!--  SELECT m.perms FROM tb_department_employee de
	LEFT JOIN tb_department td ON td.id = de.department_id
	LEFT JOIN tb_role_department trd ON trd.department_id = de.department_id
	LEFT JOIN tb_employee_role ter ON ter.employee_id = de.employee_id
	LEFT JOIN tb_role_department_menu trdm ON trdm.role_department_id = trd.id 
	LEFT JOIN tb_menu m ON trdm.menu_id = m.id
	WHERE de.employee_id  =1 -->
	
		<!--  SELECT m.perms FROM
		tb_employee_role ur
		LEFT JOIN tb_role_menu rm ON ur.role_id = rm.role_id
		LEFT JOIN tb_menu m ON rm.menu_id = m.id
		WHERE ur.employee_id =1  -->

</mapper>