<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mytijian.admin.dao.rbac.dao.EmployeeRoleDepartmentMapper">

	<resultMap id="roleDepartmentMapResult"
		type="com.mytijian.admin.dao.rbac.dataobject.EmployeeRoleDepartmentDO">
		<id column="id" property="id" />
		<result column="employee_id" property="employeeId" />
		<result column="role_department_id" property="roleDepartmentId" />
	</resultMap>

	<sql id="baseColumns">
		id,
		employee_id,
		role_department_id
	</sql>

	<select id="queryList" resultType="com.mytijian.admin.dao.rbac.dataobject.EmployeeRoleDepartmentDO">
		select * from tb_employee_role_department
		<where>
			<if test="employeeId != null">
				employee_id = #{employeeId}
			</if>
		</where>
	</select>

	<insert id="insertBatch">
		insert into tb_employee_role_department
		(
		`employee_id`,
		`role_department_id`
		)
		values
		<foreach collection="roleDepartmentIds" item="roleDepartmentId" index="index"
			separator=",">
			(
			#{employeeId},
			#{roleDepartmentId}
			)
		</foreach>
	</insert>

	<delete id="deleteByEmployeeId">
		delete from tb_employee_role_department where employee_id =
		#{value}
	</delete>

	<select id="queryRoleIdList" resultType="Integer">
		select role_department_id from
		tb_employee_role_department where employee_id = #{value}
	</select>

	<select id="selectEmployeeRoleDepartments" resultMap="roleDepartmentMapResult">
		SELECT
		<include refid="baseColumns" />
		FROM
		tb_employee_role_department where employee_id = #{employeeId}
	</select>
</mapper>