<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mytijian.admin.dao.rbac.dao.MenuMapper">

	<resultMap id="menuMapResult" type="com.mytijian.admin.dao.rbac.dataobject.MenuDO">
		<id column="id" property="id" />
		<result column="gmt_created" property="gmtCreated" />
		<result column="gmt_modified" property="gmtModified" />
		<result column="menu_name" property="menuName" />
		<result column="perms" property="perms" />
		<result column="menu_url" property="menuUrl" />
		<result column="description" property="description" />
		<result column="parent_id" property="parentId" />
		<result column="seq" property="seq" />
		<result column="status" property="status" />
		<result column="menu_type" property="menuType" />
		<result column="menu_icon" property="menuIcon" />
	</resultMap>

	<resultMap id="menuMapResultWithParentName" type="com.mytijian.admin.dao.rbac.dataobject.MenuDO"
		extends="menuMapResult">
		<result column="parentName" property="parentName" />
	</resultMap>

	<sql id="baseColumns">
		id,
		gmt_created,
		gmt_modified,
		menu_name,
		perms,
		menu_url,
		description,
		parent_id,
		seq,
		status,
		menu_type,
		menu_icon
	</sql>

	<select id="selectByParentId" resultMap="menuMapResult">
		select
		<include refid="baseColumns" />
		from tb_menu where status = 1 and parent_id = #{parentId} order by seq asc
	</select>

	<select id="selectNoButtonMenus" resultMap="menuMapResult">
		select
		<include refid="baseColumns" />
		from tb_menu where menu_type <![CDATA[<>]]> 3 and status = 1
		<if test="parentId!=null">
			and parent_id = #{parentId}
		</if>
		order by seq asc
	</select>

	<select id="selectById" resultMap="menuMapResult">
		select
		<include refid="baseColumns" />
		from tb_menu where id = #{menuId}
	</select>

	<select id="selectMenus" resultMap="menuMapResultWithParentName">
		SELECT m.*,(SELECT p.menu_name FROM tb_menu p WHERE p.id =
		m.parent_id) AS parentName
		FROM tb_menu m where status = 1 ORDER BY m.seq ASC
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="countTotal" resultType="Integer">
		select count(*) from tb_menu
		where status = 1
	</select>

	<insert id="insert" parameterType="com.mytijian.admin.dao.rbac.dataobject.MenuDO"
		useGeneratedKeys="true" keyProperty="id">
		insert into tb_menu
		(
		gmt_created,
		gmt_modified,
		menu_name,
		perms,
		menu_url,
		description,
		parent_id,
		seq,
		status,
		menu_type,
		menu_icon
		)
		values
		(
		now(),
		now(),
		#{menuName},
		#{perms},
		#{menuUrl},
		#{description},
		#{parentId},
		#{seq},
		#{status},
		#{menuType},
		#{menuIcon}
		)
	</insert>

	<update id="update" parameterType="com.mytijian.admin.dao.rbac.dataobject.MenuDO">
		update tb_menu set gmt_modified = now()
		<if test="parentId != null">,parent_id = #{parentId}</if>
		<if test="menuName != null">,menu_name = #{menuName} </if>
		<if test="menuUrl != null">,menu_url = #{menuUrl} </if>
		<if test="perms != null">,perms = #{perms} </if>
		<if test="menuType != null">,menu_type = #{menuType}</if>
		<if test="menuIcon != null">,menu_icon = #{menuIcon}</if>
		<if test="seq != null">,seq = #{seq}</if>
		where id = #{id}
	</update>

	<delete id="deleteBatch">
		update tb_menu set gmt_modified= now(), status = 2 where id in
		<foreach collection="list" index="index" item="menuId" open="("
			separator="," close=")">
			#{menuId}
		</foreach>
	</delete>
	
	
	<select id="selectByIds" resultMap="menuMapResult">
		select <include refid="baseColumns" /> from tb_menu 
		where id in
		<foreach collection="list" index="index" item="menuId" open="("
			separator="," close=")">
			#{menuId}
		</foreach>
	</select>
	
	<select id="selectAllMenu" resultMap="menuMapResult">
		select <include refid="baseColumns" />
		from 
			tb_menu
		where status = 1
	</select>
</mapper>