<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mytijian.admin.dao.rbac.dao.UserMapper">

	<resultMap id="userMapResult"
		type="com.mytijian.admin.dao.rbac.dataobject.UserDO">
		<id column="id" property="id" />
		<result column="gmt_created" property="gmtCreated" />
		<result column="gmt_modified" property="gmtModified" />
		<result column="username" property="loginName" />
		<result column="password" property="password" />
		<result column="password_salt" property="salt" />
		<result column="role_type" property="roleType" />
	</resultMap>

	<sql id="baseColumns">
		id,
		gmt_created,
		gmt_modified,
		username,
		password,
		password_salt
	</sql>
	<select id="selectUserInfo" parameterType="java.util.HashMap"
		resultMap="userMapResult">
		SELECT
		<include refid="baseColumns" />
		FROM
		tb_user
		<where>
			<if test="id!=null">
				and id=#{id}
			</if>
			<if test="loginName!=null">
				and username=#{loginName}
			</if>
		</where>
	</select>
</mapper>