<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mytijian.mediator.company.migrate.dao.order.OrderMapper">

	<select id="selectAllChannelOrders" resultType="com.mytijian.mediator.company.migrate.dao.dataobj.order.OrderDO">
		select o.order_num as orderNum,o.old_exam_company_id as oldExamCompanyId,mcr.channel_id as fromSite, r.owner_id as orderManagerId
		from tb_order o,tb_order_relation r,tb_manager_channel_relation mcr
		where o.id=r.order_id and r.owner_id is not null and mcr.manager_id=r.owner_id
	</select>

	<select id="selectAllManagerIdIsNullOrdersByPage" resultType="com.mytijian.mediator.company.migrate.dao.dataobj.order.OrderDO">
		select
			o.order_num as orderNum,
			IFNULL(r.owner_id, r.manager_id) as orderManagerId
		from
			tb_order o,
			tb_order_relation r
		where
			o.id = r.order_id
			and (r.owner_id is not null or r.manager_id is not null)
			and o.order_manager_id is null
	</select>

	<select id="selectAllManagerIdIsNullOrdersCount" resultType="java.lang.Integer">
		select
		count(1)
		from
		tb_order o,
		tb_order_relation r
		where
		o.id = r.order_id
		and (r.owner_id is not null or r.manager_id is not null)
		and o.order_manager_id is null
	</select>


	<update id="updateOrder">
		UPDATE tb_order
		<set>
			<if test="orderDO.id != null"> id = #{orderDO.id}, </if>
			<if test="orderDO.batchId != null"> batch_id = #{orderDO.batchId}, </if>
			<if test="orderDO.orderNum != null"> order_num = #{orderDO.orderNum}, </if>
			<if test="orderDO.accountId != null"> account_id = #{orderDO.accountId}, </if>
			<if test="orderDO.status != null"> status = #{orderDO.status}, </if>
			<if test="orderDO.orderPrice != null"> order_price = #{orderDO.orderPrice}, </if>
			<if test="orderDO.examDate != null"> exam_date = #{orderDO.examDate}, </if>
			<if test="orderDO.examTimeIntervalId != null"> exam_time_interval_id = #{orderDO.examTimeIntervalId}, </if>
			<if test="orderDO.hospitalId != null"> hospital_id = #{orderDO.hospitalId}, </if>
			<if test="orderDO.reportId != null"> report_id = #{orderDO.reportId}, </if>
			<if test="orderDO.entryCardId != null"> entry_card_id = #{orderDO.entryCardId}, </if>
			<if test="orderDO.discount != null"> discount = #{orderDO.discount}, </if>
			<if test="orderDO.isExport != null"> is_export = #{orderDO.isExport}, </if>
			<if test="orderDO.source != null"> source = #{orderDO.source}, </if>
			<if test="orderDO.itemsDetail != null"> items_detail = #{orderDO.itemsDetail}, </if>
			<if test="orderDO.mealDetail != null"> meal_detail = #{orderDO.mealDetail}, </if>
			<if test="orderDO.packageSnapshotDetail != null"> package_snapshot_detail = #{orderDO.packageSnapshotDetail}, </if>
			<if test="orderDO.remark != null"> remark = #{orderDO.remark}, </if>
			<if test="orderDO.differencePrice != null"> difference_price = #{orderDO.differencePrice}, </if>
			<if test="orderDO.fromSite != null"> from_site = #{orderDO.fromSite}, </if>
			<if test="orderDO.accessOrderTimes != null"> access_order_times = #{orderDO.accessOrderTimes}, </if>
			<if test="orderDO.accessReportTimes != null"> access_report_times = #{orderDO.accessReportTimes}, </if>
			<if test="orderDO.isSitePay != null"> is_site_pay = #{orderDO.isSitePay}, </if>
			<if test="orderDO.isHidePrice != null"> is_hide_price = #{orderDO.isHidePrice}, </if>
			<if test="orderDO.isReduceItem != null"> is_reduce_item = #{orderDO.isReduceItem}, </if>
			<if test="orderDO.isChangeDate != null"> is_change_date = #{orderDO.isChangeDate}, </if>
			<if test="orderDO.accountCompanyId != null"> account_company_id = #{orderDO.accountCompanyId}, </if>
			<if test="orderDO.hospitalCompanyId != null"> hospital_company_id = #{orderDO.hospitalCompanyId}, </if>
			<if test="orderDO.channelCompanyId != null"> channel_company_id = #{orderDO.channelCompanyId}, </if>
			<if test="orderDO.operatorId != null"> operator_id = #{orderDO.operatorId}, </if>
			<if test="orderDO.recidenceId != null"> recidence_id = #{orderDO.recidenceId}, </if>
			<if test="orderDO.maillingRecordId != null"> mailling_record_id = #{orderDO.maillingRecordId}, </if>
			<if test="orderDO.invoiceId != null"> invoice_id = #{orderDO.invoiceId}, </if>
			<if test="orderDO.orderManagerId != null"> order_manager_id = #{orderDO.orderManagerId}, </if>
			<if test="orderDO.accountManagerId != null"> account_manager_id = #{orderDO.accountManagerId}, </if>
			<if test="orderDO.orderChannelManagerId != null"> order_channel_manager_id = #{orderDO.orderChannelManagerId}, </if>
			<if test="orderDO.fromSiteOrgType != null"> from_site_org_type = #{orderDO.fromSiteOrgType}, </if>
			<if test="orderDO.needPaperReport != null"> need_paper_report = #{orderDO.needPaperReport}, </if>
			<if test="orderDO.extAttr != null"> ext_attr = #{orderDO.extAttr}, </if>
			<if test="orderDO.extAttrType != null"> ext_attr_type = #{orderDO.extAttrType}, </if>
			<if test="orderDO.orderOriginalPrice != null"> order_original_price = #{orderDO.orderOriginalPrice},</if>
			<if test="orderDO.orderScene != null"> order_scene = #{orderDO.orderScene},</if>
			update_time = now()
		</set>
		WHERE order_num = #{orderDO.orderNum}
	</update>



	<select id="selectOrderExamDetail" resultType="java.lang.String">
        select a.`order_num`   FROM tb_exam_order_details a LEFT JOIN tb_order b on a.order_num = b.order_num WHERE  a.`channel_company`  = 'null' and b.channel_company_id is NOT  NULL
	</select>

	<select id="selectChannelCompanyId" resultType="java.lang.Integer">
		select channel_company_id  from tb_order WHERE order_num = #{orderNum}
	</select>

	<update id="updateOrderDetail" >
		update tb_exam_order_details
		set channel_company = #{channelCompany}
		WHERE
		   order_num = #{orderNum}
	</update>

</mapper>

