<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mytijian.mediator.company.migrate.dao.user.AccountRelationshipMapper">
    <resultMap id="AccountRelationResultMap" type="com.mytijian.mediator.company.migrate.dao.dataobj.user.AccountRelation">
        <id column="id" property="id" />
        <result column="manager_id" property="managerId" />
        <result column="customer_id" property="customerId" />
        <result column="company_id" property="companyId" />
        <result column="new_company_id" property="newCompanyId" />
        <result column="organization_id" property="organizationId" />
        <result column="organization_type" property="organizationType" />
        <result column="type" property="type" />
        <result column="name" property="name" />
        <result column="gender" property="gender" />
        <result column="mobile" property="mobile" />
        <result column="idCard" property="idCard" />
        <result column="status" property="status" />
        <result column="id_type" property="idType"/>
        <result column="email" property="email" />
        <result column="birthYear" property="birthYear" />
        <result column="marriageStatus" property="marriageStatus" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <sql id="relationColumns">
        ship.id,
        ship.manager_id,
        ship.customer_id,
        ship.company_id,
        ship.new_company_id,
        ship.organization_id,
        ship.organization_type,
        ship.type,
        ship.name,
        ship.mobile,
        ship.email,
        ship.address_id,
        ship.address,
        ship.birthYear,
        ship.marriageStatus,
        ship.create_time,
        ship.update_time
    </sql>

    <select id="selectAccountRelationshipsExamCompanyIdIsNull" resultMap="AccountRelationResultMap">
          SELECT <include refid="relationColumns" />
          FROM tb_account_relationship ship
          WHERE
          type = 1
          AND
            (ship.new_company_id IS NULL
              OR
            ship.organization_id IS NULL
              OR
            ship.organization_type IS NULL)
            AND
            id >= #{nowId}
            limit #{limit}
    </select>

    <update id="updateAccountRelationship">
        UPDATE tb_account_relationship
        SET
        <if test="newCompanyId != null">
            new_company_id = #{newCompanyId}
        </if>
        <if test="organizationId != null">
            , organization_id = #{organizationId}
        </if>
        <if test="organizationType != null">
            , organization_type = #{organizationType}
        </if>
        WHERE
        manager_id = #{managerId}
        AND
        customer_id = #{customerId}
        AND
        type = #{type}
        AND
        company_id = #{companyId}
    </update>
</mapper>