<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.citest.tool.mapper.UserMapper">
	<resultMap id="userMap" type="com.citest.tool.model.User">
		<id column="id" property="id"/>
		<result column="username" property="username"/>
		<result column="password" property="password"/>
		<result column="password_salt" property="passwordSalt" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="role_type" property="roleType" />
	</resultMap>
	
	<sql id="columns">
			id,
			username,
			password,
			password_salt
			created_time,
			updated_time,
			role_type
	</sql>
	
	<select id="getUserInfo" resultMap="userMap">
		select <include refid="columns"/>
		from tb_user 
		where
		   	username=#{arg0} 
	</select>
	
	<select id="getList" parameterType="map" resultMap="userMap">
		SELECT * FROM tb_user
		where username=${username} order by id desc
	</select>
</mapper>