<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mytijian.mediator.company.migrate.dao.card.CardMigrateLogMapper">

    <resultMap id="userMigrateLogResult" type="com.mytijian.mediator.company.migrate.dao.dataobj.card.CardMigrateLogDo">
        <id column="id" property="id" />
        <result column="gmt_created" property="gmtCreated" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="table_name" property="tableName"/>
        <result column="min_pk_id" property="minPrimaryKeyId"/>
        <result column="last_pk_id" property="lastPrimaryKeyId"/>
        <result column="limit_size" property="limitSize"/>
        <result column="init_done" property="initDone"/>
        <result column="migrate_done" property="migrateDone"/>
    </resultMap>

    <sql id="baseColumns">
        id,
        gmt_created,
        gmt_modified,
        table_name,
        min_pk_id,
        last_pk_id,
        limit_size,
        init_done,
        migrate_done
    </sql>

    <select id="selectByTableName" resultMap="userMigrateLogResult">
        select <include refid="baseColumns"/>
        from
         tb_card_migrate_log
        where
        table_name = #{tableName}
    </select>

    <select id="updateLastPrimaryKeyIdByTableName">
        update
         tb_card_migrate_log
        set
        last_pk_id = #{lastPrimaryKey}
        where
        table_name = #{tableName}
    </select>

    <update id="updateInitDone">
        update
         tb_card_migrate_log
        set
        init_done = #{initDone}
    </update>

    <update id="updateMigrateDone">
        update
         tb_card_migrate_log
        set
        migrate_done = #{migrateDone}
        where
        table_name = #{tableName}
    </update>
</mapper>