<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC
  "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="mediatorproject" class="org.apache.log4j.DailyRollingFileAppender">
   		<param name="File" value="${catalina.home}/logs/admin/admin.project.log" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss}:%p %t %c %l - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="ERROR" />
			<param name="LevelMin" value="ERROR" />
		</filter>
	</appender>
    
	<appender name="infolog" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.home}/logs/admin/admin.info.log" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss}:%p %t %c %l - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="INFO" />
			<param name="LevelMin" value="INFO" />
		</filter>
	</appender>
	
	<appender name="warnlog" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.home}/logs/admin/admin.warn.log" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss}:%p %t %c %l - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="WARN" />
			<param name="LevelMin" value="WARN" />
		</filter>
	</appender>
	
	<appender name="errorlog" class="org.apache.log4j.DailyRollingFileAppender">
   		<param name="File" value="${catalina.home}/logs/admin/admin.error.log" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss}:%p %t %c %l - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="ERROR" />
			<param name="LevelMin" value="ERROR" />
		</filter>
	</appender>
	
	<appender name="sqllog" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.home}/logs/admin/admin.sql.log" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss}:%p %t %c %l - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="ERROR" />
			<param name="LevelMin" value="ERROR" />
		</filter>
	</appender>

    <logger name="com.mytijian" additivity="false">
		<appender-ref ref="infolog"/>
		<appender-ref ref="warnlog"/>
		<appender-ref ref="errorlog"/>
	</logger>
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework" additivity="false">
		<appender-ref ref="errorlog" /> 
	</logger>
	
	<logger name="org.apache.commons" additivity="false">
		<appender-ref ref="errorlog" /> 
	</logger>
	
	<logger name="org.mybatis.spring" additivity="false"> 
		<appender-ref ref="sqllog" /> 
	</logger>
	
	<logger name="com.alibaba.druid" additivity="false">
		<appender-ref ref="sqllog" /> 
	</logger>
	
	<root>
		<appender-ref ref="mediatorproject"/>
	</root>
	
</log4j:configuration>