<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mytijian.mediator.company.migrate.dao.examreport.ExamReportSystemParamMapper">

	<select id="selectSysParams" resultType="com.mytijian.report.model.ExamReportSystemParam">
		select id,
			   hospital_id as hospitalId,
			   param_name as paramName,
			   param_key as paramKey,
			   param_value as paramValue,
			   description,
			   status,
			   sequence,
			   create_time as createTime,
			   update_time as updateTime
		from tb_examreport_system_param 
		where 
			status != 2
			and param_key = #{paramKey}
			<if test="hospitalId != null">
				and hospital_id = #{hospitalId} 
			</if>
			<if test="hospitalId == null">
				and hospital_id is null 
			</if>
			order by sequence
	</select>
	
	<update id="updateSysParam">
		update tb_examreport_system_param
		set
			hospital_id = #{hospitalId},
			param_name = #{paramName},
			param_key = #{paramKey},
			param_value = #{paramValue},
			description = #{description},
			status = #{status},
			sequence = #{sequence},
			update_time = now()
		where
			id = #{id}
	</update>
</mapper>