<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mytijian.mediator.company.migrate.correct.dao.CompanyApplyLogMapper">

	<update id="correctCompanyApplyLog">
		update `tb_company_apply_log` log
		set 
		log.`new_company_id` = (select id from `tb_hospital_company` comp 
								where comp.`tb_exam_company_id` = log.`company_id` 
								and comp.`organization_id` = log.`hospital_id`),
		log.`gmt_created` = now(),
		log.`gmt_modified` = now()
		where 
			log.`new_company_id` is null 
	</update>
	
</mapper>