<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mytijian.mediator.company.migrate.dao.AccountRoleMapper">
	<resultMap id="accountRoleResult" type="com.mytijian.mediator.company.migrate.dao.dataobj.AccountRoleDO">
		<result column="account_id" property="accountId" />
		<result column="role_id" property="roleId" />
	</resultMap>

	<resultMap id="managerAccountCompanyRelResult" type="com.mytijian.mediator.company.migrate.dao.dataobj.ManagerAccountCompanyRelationDO">
		<result column="manager_id" property="managerId" />
		<result column="account_company_id" property="accountCompanyId" />
		<result column="is_site_pay" property="isSitePay" />
		<result column="import_without_idcard" property="importWithoutIdcard" />
		<result column="order_immediately" property="orderImmediately" />
		<result column="keep_login" property="keepLogin" />
		<result column="remove_all_items" property="removeAllItems" />
		<result column="agent_reserve" property="agentReserve" />
	</resultMap>
	
	<select id="AccountRoleMapper" resultMap="accountRoleResult">
		select 	account_id,role_id
		from  tb_account_role
		where  account_id = #{accountId}
	</select>
	
	<select id="selectAllCrmManager" resultMap="accountRoleResult">
		select account_id,role_id
		from tb_account_role t1 left join tb_role t2 on t1.role_id = t2.id
		where t2.id in(2,3,5,7,16) 
	</select>
	
	<select id="selectManagerBelongOrganization" resultType="Integer">
	     SELECT hospital_id 
	     FROM tb_manager_account_company_relation t1 
	     LEFT JOIN tb_account_company t2 on t1.account_company_id = t2.id 
         WHERE t1.manager_id  = #{accountId}
	</select>
	
	<select id="selectIsSitePaymanagerId" resultType="Integer" >
		select manager_id
		from tb_manager_hospital_settings
		where is_site_pay = 1 and manager_id = #{managerId}	
	</select>
	
	<select id="selectManagerAccountCompanyByManagerId" resultMap="managerAccountCompanyRelResult">
	  SELECT manager_id,
             account_company_id,
             is_site_pay,
             import_without_idcard,
             order_immediately,
             keep_login,
             remove_all_items,
             agent_reserve
      FROM tb_manager_account_company_relation
      WHERE manager_id = #{managerId}
	</select>
</mapper>