<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mytijian.mediator.company.migrate.dao.ExamCompanyHospitalRelMapper">
	<resultMap id="ExamCompanyHospitalRelResultMap" type="com.mytijian.mediator.company.migrate.dao.dataobj.ExamCompanyHospitalRelDO">
		<result column="hospital_id" property="hospitalId" jdbcType="INTEGER"/>
		<result column="company_id" property="companyId" jdbcType="INTEGER"/>
		<result column="discount" property="discount" jdbcType="NUMERIC"/>
		<result column="show_report" property="showReport" />
		<result column="show_invoice" property="showInvoice" />
		<result column="employee_import" property="employeeImport" jdbcType="VARCHAR"/>
		<result column="create_time" property="createdTime" jdbcType="TIMESTAMP"/>
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
		<result column="settlement_mode" property="settlementMode" jdbcType="INTEGER"/>
		<result column="support_anytime_import" property="supportAnyTimeImport" />
		<result column="company_alias" property="companyAlias" jdbcType="VARCHAR"/>
		<result column="his_name" property="hisName" jdbcType="VARCHAR"/>
		<result column="status" property="status" jdbcType="INTEGER"/>
		<result column="advance_export_order" property="advanceExportOrder"/>
		<result column="send_exam_sms" property="sendExamSms" />
		<result column="send_exam_sms_days" property="sendExamSmsDays" jdbcType="INTEGER"/>
		<result column="examination_address" property="examinationAddress"/>
		<result column="examreport_interval_time" property="examreportIntervalTime"/>
	</resultMap>
	
	<sql id="columns">
		hospital_id,
		company_id,
		discount,
		show_report,
		show_invoice,
		employee_import,
		create_time,
		update_time,
		settlement_mode,
		support_anytime_import,
		company_alias,
		his_name,
		status,
		advance_export_order,
		send_exam_sms,
		send_exam_sms_days,
		examination_address,
		examreport_interval_time
	</sql>
	
	
	<select id="selectByCompanyId" resultMap="ExamCompanyHospitalRelResultMap">
	    select <include refid="columns"/> 
	    from 
	    	tb_hospital_exam_company_relation
	    where
	    	company_id = #{companyId}
   </select>
</mapper>