<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mytijian.mediator.company.migrate.dao.HospitalCompanyMapper">

	<resultMap id="hospitalCompanyResult" type="com.mytijian.mediator.company.migrate.dao.dataobj.HospitalCompanyDO">
		<id column="id" property="id" />
		<result column="gmt_created" property="gmtCreated" />
		<result column="gmt_modified" property="gmtModified" />
		<result column="name" property="name"/>
		<result column="platform_company_id" property="platformCompanyId"/>
		<result column="organization_id" property="organizationId"/>
		<result column="organization_name" property="organizationName"/>
		<result column="discount" property="discount"/>
		<result column="show_report" property="showReport"/>
		<result column="employee_import" property="employeeImport"/>
		<result column="settlement_mode" property="settlementMode"/>
		<result column="his_name" property="hisName"/>
		<result column="advance_export_order" property="advanceExportOrder"/>
		<result column="send_exam_sms" property="sendExamSms"/>
		<result column="send_exam_sms_days" property="sendExamSmsDays"/>
		<result column="pinyin" property="pinyin"/>
		<result column="employee_prefix" property="employeePrefix"/>
		<result column="is_deleted" property="deleted"/>
		<result column="tb_exam_company_id" property="tbExamCompanyId"/>
		<result column="examination_address" property="examinationAddress"/>
		<result column="examreport_interval_time" property="examreportIntervalTime"/>
	</resultMap>

	<sql id="columns">
		gmt_created,
		gmt_modified,
		name,
		platform_company_id,
		organization_id,
		organization_name,
		discount,
		show_report,
		employee_import,
		settlement_mode,
		his_name,
		advance_export_order,
		send_exam_sms,
		send_exam_sms_days,
		pinyin,
		employee_prefix,
		is_deleted,
		tb_exam_company_id,
		examination_address,
		examreport_interval_time
	</sql>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.mytijian.mediator.company.migrate.dao.dataobj.HospitalCompanyDO">
		insert into tb_hospital_company (<include refid="columns"/>)
		values(
			now(),
			now(),
			#{name},
			#{platformCompanyId},
			#{organizationId},
			#{organizationName},
			#{discount},
			#{showReport},
			#{employeeImport},
			#{settlementMode},
			#{hisName},
			#{advanceExportOrder},
			#{sendExamSms},
			#{sendExamSmsDays},
			#{pinyin},
			#{employeePrefix},
			#{deleted},
			#{tbExamCompanyId},
			#{examinationAddress},
			#{examreportIntervalTime}
		)
	</insert>
	
	<insert id="insertList" parameterType="com.mytijian.mediator.company.migrate.dao.dataobj.HospitalCompanyDO">
		insert into tb_hospital_company (<include refid="columns"/>)
		values
			<foreach collection="list" item="item" separator=",">
				(now(),
				now(),
				#{item.name},
				#{item.platformCompanyId},
				#{item.organizationId},
				#{item.organizationName},
				#{item.discount},
				#{item.showReport},
				#{item.employeeImport},
				#{item.settlementMode},
				#{item.hisName},
				#{item.advanceExportOrder},
				#{item.sendExamSms},
				#{item.sendExamSmsDays},
				#{item.pinyin},
				#{item.employeePrefix},
				#{item.deleted},
				#{item.tbExamCompanyId},
				#{item.examinationAddress},
				#{item.examreportIntervalTime})
			</foreach>
	</insert>
	
	<select id="selectByExamCompanyId" resultMap ="hospitalCompanyResult">
	  select id,<include refid="columns"/>
	  from tb_hospital_company
	  where tb_exam_company_id = #{examCompanyId}
	</select>
	
	<update id="updateExamCompany" parameterType="com.mytijian.mediator.company.migrate.dao.dataobj.HospitalCompanyDO">
		update tb_hospital_company set 
		name = #{name},
		gmt_modified = now(),
		platform_company_id = #{platformCompanyId},
		organization_id = #{organizationId},
		discount = #{discount},
		show_report = #{showReport},
		employee_import = #{employeeImport},
		settlement_mode = #{settlementMode},
		his_name = #{hisName},
		advance_export_order = #{advanceExportOrder},
		send_exam_sms = #{sendExamSms},
		send_exam_sms_days = #{sendExamSmsDays},
		pinyin = #{pinyin},
		employee_prefix = #{employeePrefix},
		is_deleted = #{deleted},
		tb_exam_company_id = #{tbExamCompanyId},
		organization_name = #{organizationName},
		examination_address = #{examinationAddress},
		examreport_interval_time = #{examreportIntervalTime}
		where id = #{id}
	</update>
	
	<select id="selectByExamCompanyIdAndOrganizationId" resultMap="hospitalCompanyResult">
	  select id,<include refid="columns"/>
	  from
	  	tb_hospital_company
	  where
	  	tb_exam_company_id = #{tbExamCompanyId}
	  and
	  	 organization_id = #{organizationId}
	</select>
	
	<select id="selectByOldExamCompanyIdAndOrganizationId" resultMap="hospitalCompanyResult">
	  select id,<include refid="columns"/>
	  from
	  	tb_hospital_company
	  where
	  	id = #{newCompanyId}
	  and
	  	 organization_id = #{organizationId}
	</select>
	
	<update id="updateNameByTbExamCompanyIdAndOrganizationId">
		update
			tb_hospital_company
		set
			name = #{name},
			pinyin = #{pinyin},
			gmt_modified = now()
		where 
		  	tb_exam_company_id = #{tbExamCompanyId}
		  and 
		  	 organization_id = #{organizationId}
	</update>
	
	<delete id="deleteGuestCompany">
		delete 
			from tb_hospital_company
		where 
			organization_id = #{organizationId}
		and
			platform_company_id in (1,2,3)
	</delete>

	<select id="selectHospitalGuestCompany" resultMap ="hospitalCompanyResult">
		select id,<include refid="columns"/>
		from tb_hospital_company
		where organization_id = #{organizationId}
		and tb_exam_company_id  <![CDATA[<]]> 0 
	</select>
	
	<select id="selectOnlineGuestCompanyByOrganizationId" resultMap ="hospitalCompanyResult">
	   select id,<include refid="columns"/>
	   from tb_hospital_company
	   where organization_id = #{organizationId}
	   and tb_exam_company_id = -101
	</select>
</mapper>