<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mytijian.mediator.company.migrate.dao.HospitalMapper">

	<resultMap id="hospitalResult" type="com.mytijian.mediator.company.migrate.dao.dataobj.HospitalDO">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="organization_type" property="organizationType" />
	</resultMap>
	
	<resultMap id="hospitalResult2" type="com.mytijian.mediator.company.migrate.dao.dataobj.HospitalDO">
		<result column="hospital_id" property="id" />
		<result column="guest_online_comp_alias" property="guestOnline" />
		<result column="guest_offline_comp_alias" property="guestOffline" />
		<result column="m_guest_comp_alias" property="mGuest" />
	</resultMap>

	<sql id="columns">
		id,
		name,
		organization_type
	</sql>
	
	<select id="selectAll" resultMap="hospitalResult">
		select <include refid="columns"/>
		from tb_hospital
	</select>
	
	<select id="selectBaseInfoByHospId" resultMap="hospitalResult">
		select <include refid="columns"/>
		from tb_hospital
		where id = #{hospId}
	</select>
	
	<select id="selectGuestNameByHospId" resultMap="hospitalResult2">
		select
			hospital_id, 
			guest_online_comp_alias,
			guest_offline_comp_alias,
			m_guest_comp_alias
		from
			tb_hospital_settings
		where
			hospital_id = #{hospId}
	</select>
</mapper>