<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mytijian.mediator.company.migrate.dao.PlatformCompanyMapper">

	<resultMap id="platformCompanyResult" type="com.mytijian.mediator.company.migrate.dao.dataobj.PlatformCompanyDO">
		<id column="id" property="id" />
		<result column="gmt_created" property="gmtCreated" />
		<result column="gmt_modified" property="gmtModified" />
		<result column="name" property="name"/>
		<result column="description" property="description"/>
		<result column="pinyin" property="pinyin"/>
		<result column="init" property="init"/>
		<result column="is_deleted" property="deleted"/>
		<result column="employee_import" property="employeeImport"/>
		<result column="employee_prefix" property="prefix"/>
		<result column="tb_exam_company_id" property="tbExamCompanyId"/>
		
	</resultMap>

	<sql id="columns">
		id,
		gmt_created,
		gmt_modified,
		name,
		description,
		pinyin,
		init,
		is_deleted,
		employee_import,
		employee_prefix,
		tb_exam_company_id
	</sql>
	
	<sql id="columns_without_id">
		gmt_created,
		gmt_modified,
		name,
		description,
		pinyin,
		init,
		is_deleted,
		employee_import,
		employee_prefix,
		tb_exam_company_id
	</sql>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.mytijian.mediator.company.migrate.dao.dataobj.PlatformCompanyDO">
		insert into tb_platform_company (<include refid="columns_without_id"/>)
		values(
			now(),
			now(),
			#{name},
			#{description},
			#{pinyin},
			#{init},
			#{deleted},
			#{employeeImport},
			#{prefix},
			#{tbExamCompanyId}
		)
	</insert>
	
	<insert id="insertList" parameterType="com.mytijian.mediator.company.migrate.dao.dataobj.PlatformCompanyDO">
		insert into tb_platform_company (<include refid="columns_without_id"/>)
		values
			<foreach collection="list" item="item" separator=","></foreach>
			(now(),
			now(),
			#{item.name},
			#{item.description},
			#{item.pinyin},
			#{item.init},
			#{item.deleted},
			#{item.employeeImport},
			#{item.prefix},
			#{item.tbExamCompanyId})
	</insert>
	
	<select id="selectByOrganizationType" resultMap="platformCompanyResult">
		select <include refid="columns"/>
		from
			tb_platform_company
		where 
			init = #{type}
	</select>
	
	<select id="selectByExamCompanyId" resultMap="platformCompanyResult">
		select <include refid="columns"/>
		from
			tb_platform_company
		where 
			tb_exam_company_id = #{examCompanyId}
	</select>
	
	<update id="updatePlatformCompany" parameterType="com.mytijian.mediator.company.migrate.dao.dataobj.PlatformCompanyDO">
		update tb_platform_company set 
		gmt_modified = now(),
	    name = #{name},
		description = #{description},
		pinyin = #{pinyin},
		init = #{init},
		is_deleted = #{deleted},
		employee_import = #{employeeImport},
		tb_exam_company_id = #{tbExamCompanyId},
		employee_prefix = #{prefix}
		where id = #{id}
	</update>
	
</mapper>