<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mytijian.admin.dao.address.dao.ProvinceMapper">

	<resultMap id="provinceMapResult"
		type="com.mytijian.admin.dao.address.dataobject.ProvinceDO">
		<id column="id" property="id" />
		<result column="province_id" property="provinceId" />
		<result column="province_name" property="provinceName" />
		<result column="parent_id" property="parentId" />
	</resultMap>

	<sql id="baseColumns">
		id,
		province_id,
		province_name,
		parent_id
	</sql>
	
	<select id="selectAll" resultMap="provinceMapResult">
		select <include refid="baseColumns" /> from tb_province
	</select>
	
	<select id="selectById" resultMap="provinceMapResult">
		select <include refid="baseColumns" /> from tb_province
		 where id = #{id}
	</select>
	
	<select id="selectByIdOrProvinceId" resultMap="provinceMapResult">
		select <include refid="baseColumns" /> from tb_province
		<where>
			<if test="id!=null">
				and id = #{id}
			</if>
			<if test="provinceId!=null">
				and province_id = #{provinceId}
			</if>
		</where>
	</select>
	
	<select id="selectByProvinceId" resultMap="provinceMapResult">
		select <include refid="baseColumns" /> from tb_province
		 where province_id = #{provinceId}
	</select>
	
	<select id="selectByParentId" resultMap="provinceMapResult">
		select <include refid="baseColumns" /> from tb_province
		 where parent_id = #{parentId}
	</select>

</mapper>